{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>صفحه ورود ادمین</title>
    <link rel="stylesheet" href="{% static "./css/output.css" %} %}">
</head>
<body class="h-[100vh] bg-slate-200 flex justify-center items-center">
    <div class="p-10 bg-gray-300 border-[3px] border-gray-600 rounded-2xl flex flex-col gap-2">
        <h1 class="text-center text-2xl font-bold mb-8">ADMIN PAGE</h1>
        <input type="text" placeholder="username" class="rounded-md p-2">
        <input type="password" placeholder="password" class="rounded-md p-2">
        <button type="submit" class="bg-gray-500 text-white p-2 rounded-md mt-8 hover:bg-gray-400 transition-all duration-300">Sign in</button>
    </div>
</body>
</html>